<table>
    <tr>
        <td>
            {% trans from 'contact_widget' %}contact_widget.form.callback.name{% endtrans %}:
        </td>
    </tr>
    <tr>
        <td>
            {{ name }}
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            {% trans from 'contact_widget' %}contact_widget.form.callback.phone{% endtrans %}:
        </td>
    </tr>
    <tr>
        <td>
            {{ phone }}
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            {% trans from 'contact_widget' %}contact_widget.form.callback.message{% endtrans %}:
        </td>
    </tr>
    <tr>
        <td>
            {{ message }}
        </td>
    </tr>
</table>
