<div class="locale_switcher" style="margin-bottom: 10px;">
    {% spaceless %}
        {% set currentLocale = app.request.getLocale() %}
        {% for locale in ['en', 'ua'] %}
            {% if locale == currentLocale %}
                <img src="{{ asset('bundles/app/img/flags/' ~ locale[-2:2]|lower ~ '.svg')}}" style="margin-right: 10px; width: 20px;" />
            {% else %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}"
                   class=" {% if app.request.locale == locale %} active {% endif %}"
                   title="{{ locale }}">
                    <img src="{{ asset('bundles/app/img/flags/' ~ locale[-2:2]|lower ~ '.svg')}}" style="margin-right: 10px;  width: 20px;" />
                </a>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
</div>
