<table>
    <tr>
        <td>
            {% trans from 'form' %}form.feedback.name{% endtrans %}:
        </td>
    </tr>
    <tr>
        <td>
            {{ name }}
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            {% trans from 'form' %}form.feedback.email{% endtrans %}:
        </td>
    </tr>
    <tr>
        <td>
            {{ email }}
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            {% trans from 'form' %}form.feedback.message{% endtrans %}:
        </td>
    </tr>
    <tr>
        <td>
            {{ message }}
        </td>
    </tr>
</table>
