<div class="row">
    <div class="medium-12 xlarge-10 columns">
        <div class="price-list" data-view-line="xsmall">
            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація товариства з обмеженою відповідальністю, засновники фізичні особи
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    1800 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація товариства з обмеженою відповідальністю, засновники фізичні особи
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    2500 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація фізичної-особи підприємця (+єдиний податок, книга обліку доходів і витрат)
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    1600 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація громадської організації (+включення в реєстр неприбуткових організацій)
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    4500 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація громадської спілки (+включення в реєстр неприбуткових організацій)
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    7000 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація благодійної організації (+включення в реєстр неприбуткових організацій)
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    3500 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація представництва іноземної компанії
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    7500 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація концернів, асоціацій
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    8000 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Включення в реєстр неприбуткових організацій
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    800 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація єдиного податкуй
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    800 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Реєстрація ПДВ
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    1000 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Перехід на іншу систему оподаткування
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    1100 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 columns content sub-price-list">
                    Внесення змін до відомостей в установчих документах та ЄДРПОУ:

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - зміна директора
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            1000 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - збільшення, зменшення розміру статутного капіталу
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            1400 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - зміна засновників, розміру їх часток в статутному капіталі
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            1500 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - зміна юридичної адреси
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            1200 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - зміна назви підприємства
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            1300 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - зміна видів господарської діяльності (КВЕД)
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            1000 грн.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 columns content sub-price-list">
                    Отримання відомостей з ЄДРПОУ:

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - виписка
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            500 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - виписка з проставленням апостиля
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            800 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - електронний Витяг
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            400 грн.
                        </div>
                    </div>

                    <div class="row item">
                        <div class="xsmall-12 small-6 medium-7 columns content">
                            - витяг з реєстру ПДВ, Єдиного податку
                        </div>
                        <div class="xsmall-12 small-6 medium-5 columns price">
                            600 грн.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>