<div class="row">
    <div class="medium-12 xlarge-10 columns">
        <div class="price-list" data-view-line="xsmall">
            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Усні консультації
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    від 500 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Письмові консультації
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    від 1000 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Підготовка позовних, апеляційний, касаційних скарг
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    від 1000 грн.
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Представництво в судових засіданнях
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    800 грн. (одне судове засідання)
                </div>
            </div>

            <div class="row item">
                <div class="xsmall-12 small-6 medium-7 columns content">
                    Розроблення проектів договорів
                </div>
                <div class="xsmall-12 small-6 medium-5 columns price">
                    від 1000 грн.
                </div>
            </div>
        </div>
    </div>
</div>







